<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5p [%c] %X - %m%n"/>
    </Console>
     <RollingRandomAccessFile name="RollingFile" fileName="/letv/logs/common-main-mapp/common-main-mapp.log"    
               filePattern="/letv/logs/scheduler-demo/scheduler-demo.log.%d{yyyy-MM-dd}_%i" immediateFlush="false" append="true">    
         <PatternLayout>
            <pattern>%d [%t] %-5p [%c] %X - %m%n</pattern>
         </PatternLayout>    
        <Policies>
	        <TimeBasedTriggeringPolicy modulate="true" interval="1" /> 
	        <SizeBasedTriggeringPolicy size="50 MB" />
        </Policies>        
    </RollingRandomAccessFile>
    <Async name="ASYNC">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="CONSOLE"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="ASYNC"/>
    </Root>
    <logger name="com.gac.core.trace.filter.TraceLogger" level="debug" additivity="false">
		<appender-ref ref="ASYNC" />
	</logger>
  </Loggers>
</Configuration>