<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<import resource="classpath*:/META-INF/*-reference.xml" />

	<dubbo:application name="common-main-mapp" owner="programmer"
		organization="dubbox" />
		
	<dubbo:consumer check="false" />

	<dubbo:registry protocol="${GAC_DUBBO_REG_PROTOCOL}" address="127.0.0.1:2181" />

</beans>