<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p [%c] %X - %m%n"/>
        </Console>
        <RollingRandomAccessFile name="RollingFile" fileName="/letv/logs/adv/adv-service.log"
                                 filePattern="/letv/logs/adv/adv-service.log.%d{yyyy-MM-dd}_%i"
                                 immediateFlush="false" append="true">
            <PatternLayout>
                <pattern>%d [%t] %-5p [%c] %X - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <Async name="ASYNC">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
        <logger name="com.gac" level="info" additivity="false">
            <appender-ref ref="ASYNC"/>
        </logger>
		<logger name="com.gac.core.trace.filter" level="debug" additivity="false">
			<appender-ref ref="ASYNC"/>
		</logger>
		<logger name="com.alibaba.dubbo.registry" level="warn" additivity="false">
            <appender-ref ref="ASYNC"/>
        </logger>
    </Loggers>
</Configuration>